{% extends 'base.html' %}
{% load static %}

{% block main %}

  <div class="container">
    <div class="page-header">
      <h1>Welcome to Bokshi Chat
        <small>Pick a user and start chatting!</small>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="user-list" class="list-group">
          <a href="" class="list-group-item disabled">
            <h4 class="list-group-item-heading">Users</h4>
          </a>
          {# Users go here #}
        </div>
        {# <div id="group-list" class="list-group"> #}
          {#     <a href="" class="list-group-item disabled"> #}
            {#         <h4 class="list-group-item-heading">Groups<h4> #}
                {#     </a> #}
              {#         {1# Groups go here #1} #}
              {# </div> #}
      </div>
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-9 col-sm-12">
                <h4 class="panel-title"><span>Chat</span></h4>
              </div>
              <div class="col-md-3 col-sm-12">
                <a href="" class="btn btn-primary " style="float: right;">Create Group</a>
              </div>

            </div>
          </div>
          <div>
            <ul id="messages" class="messages">
              {# Messages go here #}
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="chat-input" type="text"
                                     class="form-control input"
                                     placeholder="Type your message here ..."
                                     maxlength="500">
              <span class="input-group-btn">
                <button class="btn btn-info btn" id="btn-send">Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
  </script>
  <script src="{% static 'js/app.js' %}"></script>

{% endblock %}
